form {
  display: flex;
  flex-direction: column;
  gap: 17px;              
  max-width: 500px;       
  min-height: 500px;      
  margin: 60px auto;
  padding: 50px;          
  border-radius: 16px;
  background-color: #385075;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


form h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}


form input {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

form input:focus {
  border-color: #3f4041;
  box-shadow: 0 0 6px rgba(79, 70, 229, 0.3);
}


form button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background: #ffffff;
  color: #383030;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}


form button:hover {
  background: #ffffff;
  transform: scale(1.05);
}

