.App {
  text-align: center;
}

form {
  width: 280px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  input{
    width: 90%;
    padding: 8px;
  }
}