nav {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 80px;
  background-color: #385075;
  padding: 10px 20px;
  border-radius: 2px;
}

nav a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #334155;
}

nav a.active {
  background-color: #dcdee0;
  color: rgb(56, 54, 54);
  font-weight: 700;
}
